<h2>Welocome to NittanyPath! </h2>


if user.role === 'S'
    <div>
        <a href="/mycourse">My Courses</a>
    </div>
    if user.isTA
        <p>Congratrultions! You are a TA!</p>
        <p>Hello, #{user.name}, today is #{day}</p>
        <p>Name: #{user.name}</p>
        <p>Email: #{user.email}</p>
        <p>Major: #{user.major}</p>
        <p>Age: #{user.age}</p>
        <p>Phone: #{user.phone}</p>
        <p>Gender: #{user.gender}</p>
        <p>State: #{user.state}</p>
        <p>City: #{user.city}</p>
        <p>Street: #{user.street}</p>
        <p>Zipcode: #{user.zipcode}</p>
    else
        <p>You Are a Student!</p>
        <p>Hello, #{user.name}, today is #{day}</p>
        <p>Name: #{user.name}</p>
        <p>Email: #{user.email}</p>
        <p>Major: #{user.major}</p>
        <p>Age: #{user.age}</p>
        <p>Phone: #{user.phone}</p>
        <p>Gender: #{user.gender}</p>
        <p>State: #{user.state}</p>
        <p>City: #{user.city}</p>
        <p>Street: #{user.street}</p>
        <p>Zipcode: #{user.zipcode}</p>
else
    <div>
        <a href="/mycourse">Manage Courses</a>
    </div>
    <p>Your Are A Professor!</p>
    <p>Hello, #{user.name}, today is #{day}</p>
    <p>Name: #{user.name}</p>
    <p>Email: #{user.email}</p>
    <p>Department: #{department.Dname}</p>
    <p>Gender: #{user.gender}</p>
    <p>Office: #{user.office}</p>
    <p>Title: #{user.title}</p>

<form action="/changepassword" method="post">
    <input type="string" placeholder="New Password" name="password"/>
    <button type="submit">Change Password</button>
    </form>

<a href="/logout">Log Out</a>
